body {
    height: 100%;
    background-color: #ffffff;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    margin: 0;
}

header{
    background-color: #BD0C29;
    color: #ffffff;
    width: 300px;
    height: 850px;
    display: block;
}

header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 50px; 
}

main{
    position: absolute;
    margin-left: 700px;
    margin-top: -700px;
    float: right;
}

#imgb{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1000;
    overflow: hidden;

}

nav ul{
    background-color: #BD0C29;
    height: 50px;
}

nav ul li{
    display: flex;
    margin-right: 3%;
    padding: 15px;    
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #000000;
}



footer{
    background-color: #BD0C29;
    color: #ffffff;
    text-align: center;
    margin: 0;
}